 @import "bootstrap-sprockets";
 @import "bootstrap";

 $LinkColor: #70B870;

 $LinkColorHover: #0099FF;

.jumbotron {
  background: rgba(255, 255, 255, .77);
}

body {
  background-color: blue;
  a {
    font-family: Times, Courier, Helvetica;
    font-weight: bold;
    color: #70B870;
  }
  a:hover {
    color: #0099FF;
  }
}
